<h1>Editing Director #<%= @director.id %></h1>

<form action="http://localhost:3000/update_director/<%= @director.id %>">
	<div>
		<label for="name">Name</label>
		<input placeholder="Enter a name here:" value="<%= @director.name %>" name="the_name" type="text" id="name">
	</div>

	<div>
		<label for="image_url">Image_Url</label>
		<input name="the_image_url" type="text" id="image_url" value="<%= @director.image_url %>">
	</div>

	<div>
		<label for="bio">Bio</label>
		<input name="the_bio" type="text" id="bio" value="<%= @director.bio %>">
	</div>

	<div>
		<label for="dob">DOB</label>
		<input name="the_dob" type="text" id="dob" value="<%= @director.dob %>">
	</div>
	</form>

